@charset "utf-8";

/* top navigation */
@font-face {
    font-family: myFirstFont;
    src: url(../fonts/Nexa.otf);
	font-weight: normal;
	font-style: normal;
}

body {
	background: #e6e6e6;
}

.login_header{
	font-size:16px;
}


@media screen and (max-width: 1025px) {
	.container > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: right;
	}
}



.gn-menu-main,
.gn-menu-main ul {
		margin: 0;
		padding: 0;
		background: white;
		color: #5f6f81;
		list-style: none;
		text-transform: none;
		font-weight: 300;
		font-family: 'myFirstFont', Arial, sans-serif;
		line-height: 50px;
}

.gn-menu-main {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 50px;
		font-size: 12px;
}

.gn-menu-main a {
		display: block;
		height: 100%;
		color: #5f6f81;
		text-decoration: none;
		cursor: pointer;
}

.gn-menu-main img {
		display: block;
		height: 110%;
		color: #5f6f81;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #006bb6;
		color: #fff;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}


.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: 1px solid #c6d0da;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}


/* navigation Document */


body {
	background: #eaeaea;
	padding: 150px;
	font-weight: 400;
	font-family: 'myFirstFont', Arial, sans-serif;
}


/* Header styles and animations */

.ha-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0;
	font-family: 'myFirstFont', Arial, sans-serif;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}

.ha-header-perspective > div  {
	background: #fff;
	text-align: left;
	padding: 0 7%;
	height: 32%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	text-align: justify;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
box-shadow: 2px 2px 1px #83b5dd;
	
}


/* Text styling */
.ha-header div,
.ha-header h1,
.ha-header h1::before,
.ha-header h1 span,
.ha-header nav,
.ha-header nav::before {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

.logo
{
background-image:url('../dimension.jpg');
background-size: 210px;
background-repeat: no-repeat;
box-shadow: 2px 2px 1px #2d383f;
width:200px;
height:100px;
position:absolute;
}

.ha-header img {
margin: 0;
width:12%;
box-shadow: 2px 2px 1px #2d383f;
}

.ha-header h1 {
	font-weight: 300;
	font-size: 2em;
	margin: 0;

	color: #2d383f;
	cursor: default;
	height: 100%;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}


.ha-header h1::before,
.ha-header nav::before {
	content: '';
	height: 100%;
}

.ha-header h1::after {
	content: '';
	width: 100px;
	height: 96px;
	background: #fff;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	cursor: pointer;
	box-shadow: inset 0 8px #2d383f, inset 0 16px #fff, inset 0 24px #2d383f, inset 0 32px #fff, inset 0 40px #2d383f, inset 0 48px #fff, inset 0 56px #2d383f;
	opacity: 0;
	border: 20px solid #fff;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.ha-header nav {
	height: 100%;
}



/* Individual states */

.ha-header-large {
	height: 420px;
}

.ha-header-small {
	height: 220px;
}




/* @media screen and (max-width: 38em) {
	section {
		font-size: 1.3em;
	}

	.ha-header h1 {
		font-size: 2em;
	}

	.ha-header nav {
		font-size: 60%;
	}
}
 */



/* ---------- Login part---------- */
@font-face {
    font-family: myFirstFont;
    src: url(../font/Nexa.otf);
}

body {
background:#fff;
	background-image: url(../img/login.jpg);
	background-repeat: no-repeat;
	color: #fff;
	font: 100%/1.5em arial;
	margin: 0;
}

h3 { 
color:black;
margin: 0; 
}

a {
	color: black;
	text-decoration: none;
}

a:hover { color: #1dabb8; }

fieldset {
	border: none;
	margin: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	-webkit-appearance: none;
}

input:focus {
  outline: none;
}

input[type="submit"] { cursor: pointer; }

.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after { clear: both; }




/* ---------- LOGIN-FORM ---------- */
#login-form {
	margin: 50px auto;
	width: 300px;
}

#login-form input {
	font-size: 14px;
}

select,
input[type="text"]:focus,
input[type="password"]:focus{
outline: none;
box-shadow: 0px 0px 5px #61C5FA;
border:1px solid #5AB0DB;
}

#login-form select,
#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 12px 10px;
	width: 278px;
}

#login-form input[type="email"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #006bb6;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	margin-top: 40px;
	margin-right: 1%;
	padding: 12px 20px;
}

#login-form input[type="submit"]:hover { background: #2D5D7B; }

#login-form footer {
	font-size: 12px;
	margin-top: 16px;
}

.info {
	background: #83b5dd;
	border-radius: 0%;
	display: inline-block;
	height:16px;
	line-height: 16px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 16px;
	color:#ffffff;
}


/* ---------- Checkbox ---------- */
input[type=checkbox].checkbox {
position: absolute; 
overflow: hidden; 
clip: rect(0 0 0 0); 
height:1px; 
width:1px; 
margin:-1px; 
padding:0;
border:0;
}

input[type=checkbox].checkbox + label.css-label {
padding-left:26px;
height:16px; 
display:inline-block;
line-height:16px;
background-repeat:no-repeat;
background-position: 0 0;
font-size:12px;
vertical-align:middle;
cursor:pointer;
color:black;
}

input[type=checkbox].checkbox:checked + label.css-label {
background-position: 0 -16px;
}
						
.css-label{ 
background-image:url(../img/depressed.png); 
}

.note
{
color:#e46764;

}

#weberpLogo{
	width:300px;
}


/* ---------- Change Password-FORM ---------- */

#login-box h3
{
font-family:calibri,Arial;
margin-left:22px;
color:white;
}

#login-box a
{
font-family:calibri,Arial;
color:white;
}

img.btn_close {
	float: right; 
	margin: -28px -28px 0 0;
}




@media only screen and (max-width: 768px) {

	body, html { 
		height:100%;
		width:100%
	}
	
	body{
		margin:0;
		padding:0;
	}
	
	#logoPosition{
		position:relative;
		/* border: 3px solid #73AD21; */
		width:300px;
		height:250px;
		width:70%;
		margin:4% 20%;
	}
	
	#weberpLogo{
		position:absolute;
		width:300px;
		height:250px;	
	}
	
	form{
		width:80%;
		margin:70% 12%;
	}
	
	#login-form select,
	#login-form input[type="text"],
	#login-form input[type="password"] {
		border: 1px solid #dcdcdc;
		padding: 12px 10px;
		width: 100%;
	}

	#login-form input[type="email"] {
		border-radius: 3px 3px 0 0;
	}

	/* ---------- LOGIN-FORM ---------- */
	#login-form {
		margin: 0px auto;
		width: auto;
	}


}




@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}
